/* 响应式布局 */

@media (max-width: 768px) {
	.carousel{
		height:300px;
	}
	.carousel .item {
		height: 300px;
	}

	.carousel img {
		min-height: 300px;
	}

	.carousel-caption p {
		font-size: 16px;
		line-height: 1.4;
	}
	.about-me{
		width:100%;
		max-height:300px;
	}
	
	#about-item{
		max-height:300px;
	}
	
	#about-item img{
		width:100%;
		max-height:300px;
		
	}
}


@media (min-width: 768px) {
	.carousel{
		height:500px;
	}

	.carousel-inner .item{
		width:100%;
		height:500px;
	}
	
	.carousel img {
		min-height: 500px;
	}
	
	.about-me{
		width:100%;
		height:500px;
	}
	
	#about-item{
		height:500px;
	}
	
	#about-item img{
		width:100%;
		height:500px;
	}


}

#navbar{
	margin-bottom:0px;
	height:50px;
}
#tech-container{
	text-align:center;
}
#tech-col{
	margin-top:40px;
}
#proj-tab{
	text-align:center;
}
#main-bar-name{
	position:relative;
	line-height:0px;
}

